<!DOCTYPE html>
<html>
{% block content %}
<body>
<form action="{% url 'send' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="recipients">Recipient(s) (Seperate by "; "):</label><br>
        <input type="text" id="recipients" name="recipient"><br>
        <label for="subject">Subject:</label><br>
        <input type="text" id="subject" name="subject"><br>

        <label for="body">Body:</label><br>

        <textarea id="body" name="Body" rows="10" cols="150"></textarea><br>
        
        <input type="file" name="Attach" multiple><br><br>
        <input type="submit" value="Send" name="Submit">

    
    </form>
</body>
{% endblock %}
</html>
