<h1>Inbox</h1>
<form action = "filter">
    {% csrf_token %}
    <input type="search" name="filter"><input type=Submit value=Search>
</form>
<form action="send">
    <input type=Submit value=Compose>
</form>
<form action="logout">
    <input type=Submit value=Logout>
</form>
<form action="../trash">
    <input type=Submit value="Trash Folder">
</form>
<form action="../drafts">
    <input type=Submit value="Drafts">
</form>

{% for email in emails %}

<p style ="padding:10px 4px 2px 4px; color: #000; background-color: #ffffff; border: #dddddd 2px solid;"
                

<body/>  <font size="+1"> • </font> <a href="../message/{{ email.mailNum }}">From:  {{ email.sender }} Subject : {{ email.subject }}</a> 
<body>  <body/>  
<font size="+2"> | </font> <a href="../forward/{{ email.mailNum }}"> Forward</a> 

<body/>  <font size="+2"> | </font> 

<a href="../attach/{{ email.mailNum }}">attachment(s)->({{email.fileCount}})</a>

<body/>  <font size="+2"> | </font> 

<a href="../trash/{{ email.mailNum }}">Move to Trash</a>
<br>


{% endfor %}

