<h1>Inbox</h1>
<form action = "filter">
    {% csrf_token %}
    <input type="search" name="filter"><input type=Submit value=Search>
</form>
<form action="send">
    <input type=Submit value=Compose>
</form>
<form action="logout">
    <input type=Submit value=Logout>
</form>

<li>
{% for email in emails %}

<a href="../message/{{ email.mailNum }}">From:  {{ email.sender }} Subject : {{ email.subject }}</a> <a href="../forward/{{ email.mailNum }}">Forward</a> <a href="../attach/{{ email.mailNum }}">attachment(s)->({{email.fileCount}})</a>
<br>

{% endfor %}
</li>
