<form action="../inbox" method="post">
    {% csrf_token %}
    <input type=Submit value="Inbox">
</form>

{% for email in emails %}

<p style ="padding:10px 4px 2px 4px; color: #000; background-color: #ffffff; border: #dddddd 2px solid;"
                

<body/>  <font size="+1"> • </font> <a href="../message/{{ email.mailNum }}">From:  {{ email.sender }} Subject : {{ email.subject }}</a> 
<body>  <body/>  
<font size="+2"> | </font> <a href="../forward/{{ email.mailNum }}"> Forward</a> 

<body/>  <font size="+2"> | </font> 

<a href="../attach/{{ email.mailNum }}">attachment(s)->({{email.fileCount}})</a>

<body/>  <font size="+2"> | </font> 

<a href="../fromTrash/{{ email.mailNum }}">Move to Inbox</a>
<br>
<body/>  <font size="+2"> | </font> 

<a href="../delete/{{ email.mailNum }}">Delete</a>
<br>


{% endfor %}